/* Estilos para o plugin Norven Talents Jobs */
body {
    font-family: Arial, sans-serif;
}

.ntj-job-list {
    list-style-type: none;
    padding: 0;
}

.ntj-job-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
